@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-dark: #0B0F19;      /* Gray/900, Heading-dark */
    --color-primary: #6366F1;
    --color-gray: #9397AD;      /* Gray/600, Muted text*/
    --color-white: #FFFFFF;

    --color-gray-700: #565973;   /* Gray/700, Body text  */
    --color-gray-800: #33354D;   /* Gray/800, Navigation */
    --color-gray-100: #F3F6FF;  /* Gray/100, Light BG */


    --color-text-heading: var(--color-dark);
    --color-border-gray: #E2E5F1;
    --color-icon-bg: var(--color-gray-100);

    --container-padding: 1rem;
    --transition-time: all 0.2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.space-y-1 > * + * {
    margin-top: 1rem;
}
.space-y-2 > * + * {
    margin-top: 2rem;
}
.space-y-3 > * + * {
    margin-top: 3rem;
}
.space-y-4 > * + * {
    margin-top: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    color: var(--color-text-heading);
    font-weight: 800;
    line-height: 1.3;
}

/* .h1 och -h5: Se lång video om sektion "Features"  */
.h1 {  
    font-size: 2.5rem;      /*  40px  */
    /* Kan lägga in dessa två rader här, men egentligen inte nödvändigt - se ovan - redan deklarerade för alla rubriker, dvs. h1 till h6 */
    color: var(--color-text-heading);
    font-weight: 800; 
}
.h2 {
    font-size: 32px;      /* 32px   */
    color: var(--color-text-heading);
    font-weight: 800;     /* Extra Bold */
}
.h5 {  
    font-size: 1.25rem;      /*  20px  */
    color: var(--color-text-heading);
    font-weight: 800; 
}
/*
.d4 {
    font-size: 3.5rem;     56px 
}   
*/
.text-lg {                   /* Brödtext */
    font-size: 1.125rem;    /* 18px */
}

.text-sm {                   /* Brödtext */
    font-size: 0.875rem;    /* 14px */
}

.text-nav {
    /* Rubrikerna i accordian under FAQ sektionen */
    color: var(--color-text-heading);
    font-size: 16;
    font-weight: 600;  /* Semibold */
    line-height: 1.3;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--color-primary);
    text-decoration: underline; 
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-primary:hover {
    background-color: var(--color-gray);
    color: var(--color-white);
    text-decoration: none;
}
.btn-primary i {
    margin-right: 0.5rem;
}

.btn-download-app {
    /* Kolla upp background-color i Figmafilen */
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-download-app:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}  

.btn-circle {
    /* Kolla upp nedåtpilen bredvid Discover more i Figmafilen */
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;  
    border: 1px solid var(--color-border-gray);
    background-color: var(--color-white);
    color: var(--color-dark);
}

.btn-quote {
    height: 44px;
    width: 44px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-icon {
    height: 60px;
    width: 60px;
    background-color: var(--color-gray-100);
    /* color: var(--color-white);  */
    border: 0;
    border-radius: 8px;
    /*padding: 10px 10px; */    /* Ej färdigt! */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-learn-more {
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 160px;
    height: 44px;
    border-radius: 8px;
    padding: 12px 25px;   /* Ej färdigt! */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-learn-more:hover {
    background-color: var(--color-gray);
    color: var(--color-white);
    text-decoration: none;
}

.btn-contact-us {
    background-color: var(--color-primary);
    color: var(--color-white);
    /* width: 163px;  */     /* Ev. ändra eller ta bort */
    /* height: 50px;   */    /* Ev. ändra eller ta bort */
    border-radius: 8px;
    padding: 15px 30px;      /* Sätter storleken på button med padding istället för width och height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.btn-contact-us:hover {
    background-color: var(--color-gray);
    color: var(--color-white);
    text-decoration: none;
}

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-toggle-switch .label {
    display: none;      
}

/* The switch - the box around the slider */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

/* Hide default HTML checkbox */
.toggle-switch input{
    opacity: 0;
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}
  
input:checked + .slider:before {
    /* -webkit-transform: translateX(26px); */
    transform: translateX(18px);
    background-color: var(--color-white);
}

/* The slider */
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray);
    /* -webkit-transition: .4s;  */
    /* transition: all 0.2s;  */
    transition: var(--transition-time);
}
  
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    /* -webkit-transition: .4s;  */
    /* transition: all 0.2s;  */
    transition: var(--transition-time);
}

/* Rounded sliders */
.toggle-switch .slider.round {
  border-radius: 35px;
}

.toggle-switch .slider.round:before {
  border-radius: 50%;
}
  
.navbar {
    display: none;
}

.nav-link {
    color: var(--color-dark);  
    font-weight: 600;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline; 
}

.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    /* grid-template-areas: "logo switch mobile";  */
    gap: 1.5rem;
    padding: 1rem;   /* La till när flyttade brands, och kommenterade bort 2 kod-rader nedan */
    /* padding-top: 1rem;
    padding-bottom: 1rem;  */
}

footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-gray);  /*  To Do: Hämta korrekt text färg från figma filen.  */

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .credit {
        display: none;
    }
}

#brands {
    display: none;
    padding-top: 4rem;  /* Ändrade från 2rem till 4rem när flyttade brands */
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}

.brand-box {
    border: 1px solid var(--color-border-gray);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero {
    background: rgb(99, 102, 241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);  
    
    padding-top: 2rem;
    padding-bottom: 2rem; 
    padding-left: 1rem;    /* La till när flyttade brands */
    padding-right: 1rem;   /* La till när flyttade brands */

    overflow: hidden;

    @media (min-width: 768px) {
        padding-bottom: 0;
    }  

    .container {
        /*  height: 500px; Blir för kort på höjden. Ta bort denna.  */

        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: "headline" "content";

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "headline headline"
                                 "content images";
        }

        @media (min-width: 1400px) {
            grid-template-columns: 2fr 3fr;
            grid-template-areas: "headline images"
                                 "content images";
        }
    }

    .headline {
        grid-area: headline;
        text-align: center;

        h1 {
            font-size: 34px;
            font-weight: 800;

            @media (min-width: 768px) {
                font-size: 56px;
            }

            @media (min-width: 1400px) {
                text-align: left;
            }
        }
    }

    .content {
        grid-area: content;
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }

        p {
            font-size: 18px; /* Ok, från Figma */
            margin-bottom: 3rem;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (min-width: 1400px) {
                flex-direction: row;
            }
        }

        .discover-more {
            color: var(--color-dark);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;

            @media (min-width: 768px) {
                justify-content: flex-start;
                margin-bottom: 2rem;
            }

            @media (min-width: 1400px) {
                margin-top: 10rem;
            }
        }
    }

    .images {
        position: relative;
        grid-area: images;
        display: none;

        @media (min-width: 768px) {
            display: block;
        }

        .img-back {
            position: absolute;
            z-index: -10;
            bottom: 0;
            right: 100px;
            width: 70%;
            height: auto;

            @media (min-width: 1400px) {
                width: auto;
                bottom: -100px;
                right: 230px;
            }
        }

        .img-front {
            position: absolute;
            z-index: -5;
            bottom: 0;
            right: 0;
            width: 70%;
            height: auto;
        
            @media (min-width: 1400px) {
                width: auto;
                bottom: -100px;
            }
        }
    }

}

/* FEATURES START */
.features {
    text-align: center;
    padding: 3rem;  /* ? */
    /*  Skapa --section-spacing  */
    /* padding-block: var(--section-spacing); */
    padding-top: 4rem;
    padding-bottom: 4rem;

    .iphone {
        display: none;
    }

    .features-grid {
        display: grid;
        gap: 2rem;
        margin-top: 4rem;
    }
    .feature-card {
        display: flex;
        text-align: start;
        gap: 1rem;
        align-items: flex-start;
    }

    .icon-container {
        background-color: var(--color-gray-100);
        padding: 1rem;
        border-radius: 8px;  /* Sätt variabel istället för 8px */
        /* border-radius: var(--br-lg); */
        flex-shrink: 0;
    }


    @media (min-width: 768px) {
        .features-grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem 3rem;
        }

        /* p {
            margin-top: 1rem;
            margin-bottom: 1rem;
        } */
    }

    @media (min-width: 1400px) {
        text-align: start;
        .container {
            display: flex;
            gap: 15rem;   /* This solved it (with the features side being too wide compared to the picture) */
        }

        .features-grid {
            gap: 4rem 2rem;
        }

        .iphone {
            display: block;
            /* img {  Ställer bara till det - nu blir min bild för liten.
                width: 100%;
                height: 100%;
            }  */  
            
            /* .iphone-img {
                width: 150%;  
                height: auto;  
            } */
          
        }
        
        /* Min bild är inte för liten storlek - detta behövs inte */
        /* .text {   
            flex: 1; 
        } */
    }

   /* Två brytpunkter, 1200 och 1400, fungerar inte i min design:
    blir helt fel mellan 1200 - 1400. 
   @media (min-width: 1400px) {
        .container {
            gap: 10rem; 
        }
    }  */
}
/* FEATURES END */

#slider {

    background-color: var(--color-gray-100);
    padding-top: 4rem;      /* verkar bra, kolla på slutet  */
    padding-bottom: 4rem;   /* verkar bra, kolla på slutet  */
    padding-left: var(--container-padding);
    padding-right: var(var(--container-padding));

    .container {
        /*max-width: 1320px; Behövdes inte när fick ordning på divarna. Oavsett Flexbox eller Grid. */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;     /* ???  */
    }

    .heading {
        h1 {
            color: var(--color-dark);   /* Gray/900  */
            font-size: 29px;
            font-weight: 800;           /* ExtraBold */
            /* margin-bottom: 2rem;  */

            @media (min-width: 768px) {
                font-size: 34px;        /* Verkar lite smått på tablet...ändra? */
            }  

            @media (min-width: 1400px) {
                font-size: 40px;
            }  
        }
    }

    .text-box {
        width: 300px; 
        @media (min-width: 768px) {
            width: 500px;
        }  
        @media (min-width: 1400px) {
            width: 650px;
        }        
    }

    .heading2 {
        text-align: center;
        color: var(--color-dark);        /* Gray/900  */
        font-weight: 800;                /* ExtraBold */
        margin-bottom: 1rem;

        h2 {
            font-size: 24px;  /* Figma: mobil 22px, tablet 23px, desktop 24px */
        }

        .h2-mobile {
            @media (min-width: 768px) {
                display: none;
            }  
        }

        .h2-tablet {
            display: none;

            @media (min-width: 768px) {
                display: block; 
            }

            @media (min-width: 1400px) {
                display: none;
            }    
        }

        .h2-desktop {
            display: none;
            
            @media (min-width: 1400px) {
                display: block;
            }    
        }
    }

    .description {
        color: #585C7B;    /* Kolla upp i Elements filen */ /* Figma säger denna färg för mobil och tablet */
        font-size: 16px;
        font-weight: 400;
        text-align: center;

        @media (min-width: 1400px) {
            color: var(--color-gray-700);
        }  
    }

    .images {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;     /* Ev. 1rem för tablet. */

        @media (min-width: 1400px) {
            justify-content: space-between;
            width: 900px;    /* Justera senare */
        }   

    }

    .left-img {
        display: none;
        width: 60%;
        height: auto;

        @media (min-width: 768px) {
            display: block;
            
        }
    }

    .middle-img {
        background: url("../images/iphone-balance_mobiletablet.svg");
        
        /* background-repeat: no-repeat; */

        @media (min-width: 1400px) {
            background-image: url("../images/iphone-balance_desktop.svg");
        }  
    }

    .right-img {
        display: none;
        width: 60%;
        height: auto;

        @media (min-width: 768px) {
            display: block;
        }   
    }
}

#details {

    display: none;  

    background-color: var(--color-white);  /* kan nog tas bort? */
    padding-top: 4rem;      /*  ?  */
    padding-bottom: 4rem;   /*  ?  */

    @media (min-width: 1400px) {
        display: block;   /* Gör ingen skillnad om jag sätter block eller flex/grid här */
    }   

    .container {
        /*max-width: 1320px; Behövdes inte när fick ordning på divarna. Oavsett Flexbox eller Grid. */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;     /* ???  */
    }

    .topdetails {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;     /* ???  */
    }

    .bottomdetails {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;     /* ???  */
    }

    .money-transfer {
        display: flex;
        flex-direction: column;
        gap: 2rem; 

        ul {
            list-style-position: inside;
        }
        li {
            margin-bottom: 1rem;
        }    
    }

    .receive-money {
        display: flex;
        flex-direction: column;
        gap: 2rem; 
    }

    .heading-dts {
        h2 {
            text-align: left;
            color: var(--color-dark);   /* Gray/900  */
            font-size: 32px;
            font-weight: 800;           /* ExtraBold */
            /* margin-bottom: 2rem;  */
        }
    }

    .details-text {
        padding-left: 1 rem;
        text-align: left;
        color: var(--color-gray-700);   /* Gray/700  */
        font-size: 16px;
        font-weight: 400;               /* Regular */   
    }

   .info-container {
        display: flex;
        gap: 1rem;
   }

   
}  

#testimonials {

    display: none;  
    background-color: var(--color-gray-100);
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media (min-width: 1400px) {
        display: block;  
    }   

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }  
    
    .headline {
        height: 320px;
        width: 480px;
        h1 {
            text-align: left;
            color: var(--color-dark);
            font-size: 40px;
            font-weight: 800;
        }
    }

    .testimony {
        background-color: var(--color-white); 
        border-radius: 10px;
        height: 320px;
        width: 480px;
        padding: var(--container-padding);
        margin-bottom: 1rem;
    }

    .rating {
        margin-top: 2rem;
    }

    .review {
        text-align: left;
        color: var(--color-gray-700);
        font-size: 18px;
        font-weight: 400;
        margin-top: 1rem; 
    }

    .author {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        /* margin-bottom: 1rem; */
    }

    .author-name {
        color: var(--color-dark);
        font-size: 16px;
        font-weight: 700; 
    }

    .author-title {
        color: var(--color-gray);
        font-size: 14px;
        font-weight: 400; 
    }
}

#faq {
    padding: 1rem;      /* 1rem fixar till sidorna på mobile */
    padding-top: 4rem;
    padding-bottom: 4rem;

    .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: "heading-faq" 
                             "accordion"
                             "button-for-mobile";


        @media (min-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-areas: "heading-faq"
                                 "accordion"
                                 "contact-container";
        }
                    
        @media (min-width: 1400px) {                        
            grid-template-columns: 1fr auto;
            grid-template-rows: auto;
            grid-template-areas: "heading-faq accordion"
                                 "contact-container accordion"
                                 ". accordion";
        }
    }  

    .heading-faq {
        grid-area: heading-faq;
        text-align: center;
        p {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .accordion {
        grid-area: accordion;
        display: flex;
        flex-direction: column;

        border: 1px solid var(--color-border-gray);
        border-radius: 8px;   /* Sätt rundade hörn på accordion i mobile */
      
        @media (min-width : 768px) {
            border: none;    /* Ta bort accordion border i tablet och desktop */  
        }     
        
        /* gap: 1rem; Tar bort detta - inget avstånd mellan accordion-panels i mobilläge */
    }

    .accordion-panel {
        border: 1px solid var(--color-border-gray);
        padding: 1rem;
        /* border-radius: 8px;  */
        display: flex;
        justify-content: space-between;  /* This fixed it! Nu lägger sig texten till vänster och cirkel button till  höger i panelen */
        align-items: center;  /* Gör att items ligger på samma nivå horizontally */

        @media (min-width: 768px) {        /* Ej rundade hörn på panelerna i mobilen */
            border-radius: 8px;
            box-shadow: 0px 4.4px 12px -1px rgba(13,10,22,0.3); 
            /* filter: drop-shadow(0px 2px 12px #131022);    Fungerar inte alls  */
        }
    }

     /* Ska INTE synas i mobilt läge, men SKA synas i tablet och desktop */
     #first-panel {
        display: none;      
        @media (min-width: 768px) {
            display: flex; 
        }   
    }

    /* SKA synas i mobilt läge, men ska INTE synas i tablet och desktop */
    #first-panel-open {     
        .btn-circle-acc {
            background-color: var(--color-primary);
            color: var(--color-white);
            box-shadow: 0px 4px 4px 0px rgba(13,10,22,0.25);
        }     
        @media (min-width: 768px) {
            display: none;   
        }
    }

    #first-panel-text {
        flex-direction: column;
        gap: 1rem;
        @media (min-width: 768px) {
            display: none; 
        }   
    } 

    /* SKA synas i mobilt läge, men ska INTE synas i tablet och desktop */
    #third-panel {      
        @media (min-width: 768px) {
            display: none; 
        }   
    }

    /* Ska inte synas i mobilt läge, men ska synas i tablet och desktop */
    #third-panel-open {     
        display: none;      
        @media (min-width: 768px) {
            display: grid;  /* placerar "open text" under rubriken (istället för till höger om button) */
            gap: 1rem;
            padding-bottom: 1.5rem;

            .btn-circle-acc {
                background-color: var(--color-primary);
                color: var(--color-white);
                box-shadow: 0px 4px 4px 0px rgba(13,10,22,0.25);
            }
        }
    }

    .acc-row {
        /* padding: 1.5rem;  */
        display: flex;
        justify-content: space-between;  
        align-items: center; 
    }

    .btn-circle-acc {
        height: 36px;
        width: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;  
        border: 1px solid var(--color-border-gray);
        background-color: var(--color-gray-100);
        color: var(--color-dark);
        flex-shrink: 0;     /* That fixed it in mobile screen. Nu behåller knapparna 
                            sin runda form även när skärmen blir smalare, och blir inte ovala längre */
    }
    .btn-circle-acc i {
        font-size: 14px;
    }

    .btn-circle-acc-open {
        height: 36px;
        width: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;  
        border: 1px solid var(--color-border-gray);
        background-color: var(--color-primary);
        color: var(--color-dark);
        flex-shrink: 0;     /* That fixed it in mobile screen. Nu behåller knapparna 
                            sin runda form även när skärmen blir smalare, och blir inte ovala längre */
    }
    .btn-circle-acc-open i {
        font-size: 14px;
    }

    .btn-contact {
        font-size: 14;
        font-weight: 600;
    }

    .btn-contact i {
        margin-left: 1rem;
    }

    #btn-contact-1 {
        color: var(--color-primary);  
    }

    #btn-contact-2 {
        color: #22C55E;   /* skapa en variabel!!! */
    }

    .contact-container {  
        grid-area: contact-container;
        display: none;  /* Contact info ska INTE synas i Mobile. */
    }

    .button-for-mobile {
        grid-area: button-for-mobile;
        place-self: center;   /*   Center a div in a grid  */
        font-size: 14px;      /* Från Figma   */
        font-weight: 600;   /* Semibold, Från Figma */
        margin-top: 1rem;
    }

    @media (min-width: 768px) {

        .accordion {
            gap: 1rem;          /* I Tablet och Desktop ska det vara lite avstånd mellan accordion panels */
        }

        .accordion-panel {
            max-width: 750px;   /* I mobile sätts vidden bra automatiskt. I tablet fungerar max-width bäst, 
                                men blir inte bra med max-width i desktop läge - bredden sprider inte ut sig.
                                Har därför satt fast width: 750px, se nedan....  */    
        }

        .contact-container {   /* Contact info SKA synas i Tablet och Desktop (ej i mobile) */
            display: flex;
            /* justify-content:space-between;    Kommenterar bort när fixar med grid för desktop  */
            align-items: center;
            gap: 1rem;
            /* margin-top: 2rem;  Kommenterar bort när fixar med grid för desktop  */
        }

        .contact-box {
            border: 1px solid var(--color-border-gray);
            border-radius: 8px;
            height: auto;       /* Height: auto fungerar bra. Anpassar sig till innehållet. (tidigare fast height: 170px) */
            min-width: 340px;   /* max-width: 340px fungerar inte i tablet - boxen blir inte bredare än innehållet */
            padding: 1rem;
            padding-top: 1.5rem;
            padding-bottom: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            p {
                font-size: 14px;
            }
        }

        .button-for-mobile{
            display: none;
        }
    }

    @media (min-width: 1400px) {

        .heading-faq {
            text-align: left;
            p {
                text-align: left;
                width: 350px; 
            }
        }

        .accordion-panel {   /* ...fast width: 750px fungerar bäst för Desktop (max-width fungerar inte) */
            width: 750px;
        }

        .contact-box {
            min-width: 0;   /* Måste nollställa min-width (från tablet mq), annars tar inte width: 200 px) */
            width: 200px;   /* Kolla upp om detta fungerar i Desktop (efter att grid har satts)...???   */
           
        }
    }
}
   

@media (min-width: 768px) {
    .container {
        max-width: 712px;  /* Korrigera detta!!! */
    }

    .btn-toggle-switch .label {
        display: block;      
    }

    header .container {
        gap: 3rem;
    }

    footer {
        .credit {
            display: block;
        }
    }

    #brands {
        display: block;
    }

    #brand-5, #brand-6 {
        display: none;
    }

}

@media (min-width: 1400px) {  
    .container {
        max-width: 1320px;
    }

    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
    }

    #auth-signin {
        display: block;
    }

    .btn-mobile {
        display: none;
    }

    .navbar {
        display: block;
    }

    #brand-5, #brand-6 {
        display: flex;
    }

}
